@font-face {
	font-family: 'AveriaSerifBold';
		src: url('../fonts/averia-serif/AveriaSerif-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
	  }

@font-face {
	font-family: 'AveriaSerifBoldItalic';
		src: url('../fonts/averia-serif/AveriaSerif-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
	  }

@font-face {
	font-family: 'AveriaSerifItalic';
		src: url('../fonts/averia-serif/AveriaSerif-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
	  }

@font-face {
	font-family: 'AveriaSerifLight';
		src: url('../fonts/averia-serif/AveriaSerif-Light.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	  }

@font-face {
	font-family: 'AveriaSerifLightItalic';
		src: url('../fonts/averia-serif/AveriaSerif-LightItalic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
	  }

@font-face {
	font-family: 'AveriaSerifRegular';
		src: url('../fonts/averia-serif/AveriaSerif-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	  }

 /* The following rules are deprecated. */

@font-face {
	font-family: 'Averia Serif';
		src: url('../fonts/averia-serif/AveriaSerif-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
	  }



@font-face {
	font-family: 'Averia Serif';
		src: url('../fonts/averia-serif/AveriaSerif-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
	  }



@font-face {
	font-family: 'Averia Serif';
		src: url('../fonts/averia-serif/AveriaSerif-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
	  }



@font-face {
	font-family: 'Averia Serif';
		src: url('../fonts/averia-serif/AveriaSerif-Light.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	  }



@font-face {
	font-family: 'Averia Serif';
		src: url('../fonts/averia-serif/AveriaSerif-LightItalic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
	  }



@font-face {
	font-family: 'Averia Serif';
		src: url('../fonts/averia-serif/AveriaSerif-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	  }

