:root {
	--content-bg-color: #e4efff;
	--heading-color: #A33E94;
	--text-color: #3C4C67;
	--link-color: #426CB2;
	--link-hover-color: var(--heading-color);
	--link-active-color: var(--text-color);
	--link-item-hover-shadow-color: rgba(100, 130, 171, 0.4);
	--link-item-active-shadow-color: rgba(100, 130, 171, 0.25);
	--code-text-color: #4d4d4d;
	--code-bg-color: #eeeeee;
	--background-image: url("../media/images/floral-tile.webp");
}

@media (prefers-color-scheme: dark) {
	:root {
		--content-bg-color: #3a2b4a;
		--heading-color: #FFD17A;
		--text-color: #e4efff;
		--link-color: #D98FD9;
		--link-hover-color: var(--heading-color);
		--link-active-color: var(--text-color);
		--link-item-hover-shadow-color: rgba(0, 0, 0, 0.4);
		--link-item-active-shadow-color: rgba(0, 0, 0, 0.25);
		--code-text-color: #ffffff;
		--code-bg-color: #1e1e1e;
		--background-image: url("../media/images/stars-tile.webp");
	}
	.center_icon img {
		filter: invert(1);
	}
}

body {
	background-image: var(--background-image);
	background-size: 10em;
	background-repeat: repeat;
	background-attachment: fixed;
}

h1,h2,h3,h4,h5,h6 {
	color: var(--heading-color);
}

h1 {
	text-align: center;
}

.nav_header {
	margin: 1em;
}

.nav_link_list {
	list-style: none;
	text-align: center;
	margin-top: 4em;
	margin-bottom: 4em;
	padding-left: 0;
}

.nav_link_list li {
	font-size: 1.5rem;
	font-weight: bold;
	padding: 0.3em;
}

.skewback {
	transform: skewY(-8deg);
	margin-bottom: 2em;
	padding-bottom: 0.1em;
	color: var(--heading-color);
	font-size: 1.5rem;
	font-weight: bold;
}

#construction {
	text-align: center;
	image-rendering: crisp-edges;
}

.content {
	position: relative;
	background: var(--content-bg-color);
	color: var(--text-color);
	font-family: "AveriaSerifRegular",serif;
	font-size: 1.1rem;
	text-align: left;
	box-shadow: 0 0.3em 0.7em 0 rgba(0, 0, 0, 0.4), 0 0.5em 3em 0 rgba(0, 0, 0, 0.12);
	border-radius: 0.3em;
	padding-top: 0.1em;
	padding-bottom: 1em;
	padding-left: 1em;
	padding-right: 1em;

	margin: 3em auto;

	max-width: 42em;
	min-width: 10em;
	line-height: 1.4;
}

.content b {
	font-family: "AveriaSerifBold", serif;
}

.content i {
	font-family: "AveriaSerifItalic", serif;
}

#publish_info {
	text-align: center;
}

code {
	background: var(--code-bg-color);
	color: var(--code-text-color);
	border-radius: 0.3em;
}
a {
	color: var(--link-color);
}
a:hover {
	color: var(--link-hover-color);
}
a:active {
	color: var(--link-active-color);
}

.list_title {
	margin-bottom: 0.1em;
}

.link_list {
	list-style-type: none;
	margin-top: 0;
	padding: 0;
}
.link_list a:link, .link_list a:visited {
	text-decoration: none;
}

.link_item {
	padding: 1em;
	border-radius: 0.3em;
	transition-duration: 0.2s;
	color: var(--text-color);
}
.link_item:hover {
	box-shadow: 0 0.3em 0.7em 0 var(--link-item-hover-shadow-color);
}
.link_item:active {
	box-shadow: inset 0 0.3em 0.7em 0 var(--link-item-active-shadow-color);
}
.link_item dt {
	font-size: 1.5rem;
	font-weight: bold;
	margin-top: 0;
	margin-bottom: 0.2em;
	color: var(--link-color);
	text-decoration: underline;
}

.badges {
	text-align: center;
	image-rendering: pixelated;
	margin-top: 4em;
}

.feature_media {
	text-align: center;
}
.feature_media img {
	max-height: 20em;
	max-width: 80%;
	border-radius: 0.3em;
}
.feature_media audio {
	border-radius: 0.3em;
	width: 80%;
}
.feature_media iframe {
	max-width: 80%;
}
.center_icon {
	text-align: center;
}
.center_icon img {
	width: 7em;
	image-rendering: pixelated;
}

/* responsive to size (mobile) */
@media only screen and (max-width: 35em) {
	body {
		margin: 0;
		background-attachment: scroll;
	}
	.content {
		margin-top: 2em;
		margin-bottom: 2em;
		border-radius: 0;
	}
	.skewback {
		margin-bottom: 1em;
	}
	.feature_media img {
		max-width: 100%;
	}
	.feature_media iframe {
		max-width: 100%;
	}
	.feature_media audio {
		width: 100%;
	}
}
/* adjust some hover effects for touch devices */
@media (pointer: coarse) {
	.link_item:hover {
		/* pressed-down effect */
		box-shadow: inset 0 0.3em 0.7em 0 rgba(100, 130, 171, 0.25);
	}
}
